---
import FooterAcknowledgement from "./FooterAcknowledgement.astro";
import FooterBanner from "./FooterBanner.astro";

import "@fontsource/playfair-display/700.css";
import "@fontsource/space-mono/400.css";
import QuickNavi from "./QuickNavi.astro";
import GroupTitle from "./GroupTitle.astro";
import { CONTACT_INFO, FEEDBACK_TEXT, SOCIAL } from "../../config/footer";
import SPCLogo from "../common/SPCLogo.astro";
import Feedback from "@components/footer/Feedback.astro";
---

<footer class="lg:hidden bg-[#393939] text-spc-light px-6 py-12 md:px-0">
    <div class="md:px-12 xl:px-96">
        <FooterBanner />

        <!--<HolyMassDates />-->

        <QuickNavi />

        {/* contact info */}
        <div class="my-8">
            <GroupTitle title="Contact Us." />

            <div>
                {CONTACT_INFO.map(c => <p class="mt-2 text-spc-light" set:html={c} />)}
            </div>
        </div>

        {/* social links */}
        <div class="my-8">
            <GroupTitle title="Follow Us." />

            <div class="space-y-1 mt-1">
                {
                    SOCIAL.map(s => <a class="block" href={s.link}>{s.text}</a>)
                }
            </div>

        </div>

        {/* fineprints */}
        <div class="my-8">
            <GroupTitle title="Fineprints." />

            <div class="space-y-1 mt-1">
                <a class="block" href="/pop">Privacy Policy</a>
                <a class="block" href="/toc">Terms and Conditions</a>
                <a class="block" href="https://github.com/BirnadinErick/spc-175#Apache-2.0-1-ov-file">
                    Apache 2.0 License
                </a>
            </div>
        </div>

        <FooterAcknowledgement />

        <div class="my-4">
            <hr class="my-4 border-white/20">
        </div>
        <div class="my-2 flex items-center justify-around">
            <div class="flex justify-start items-center space-x-0">
                <SPCLogo dim="72" />
                <p class="font-bold text-lg text-spc-light/90">St. Patrick's College</p>
            </div>
        </div>
    </div>
</footer>

<footer class="hidden lg:block space-y-2 bg-[#393939] text-spc-light overflow-clip p-12 xl:p-20 xl:pb-0 rounded-t-2xl">
    <FooterBanner />

    <div class="flex items-start justify-start">
        <div class="w-4/5">
            <div class="flex items-start justify-start space-x-32">
                <QuickNavi />

                <div class="my-8">
                    <GroupTitle title="Contact Us." />

                    <div>
                        {CONTACT_INFO.map(c => <p class="mt-2 text-spc-light" set:html={c} />)}
                    </div>
                </div>
            </div>
        </div>

        <Feedback is:client />
    </div>
    <div class="w-5/5">
        <FooterAcknowledgement />
    </div>
    <div class="my-8">
        <hr class="border-spc-light/20 my-8 border">

        <div class="pb-4 flex items-center justify-between">
            <div class="space-x-4 flex items-baseline text-spc-light/80 justify-start">
                {
                    SOCIAL.map(c => <a href={c.link}>{c.text}</a>)
                }
            </div>
            <div>
                <div class="flex justify-start items-center space-x-4">
                    <SPCLogo dim="100" />
                    <p class="font-bold text-lg text-spc-light/90">St. Patrick's College</p>
                </div>
            </div>

            <div class="flex items-baseline justify-end space-x-4 text-spc-light/80">
                <a class="block" href="/pop">Privacy Policy</a>
                <a class="block" href="/toc">TOC</a>
                <a class="block" href="https://github.com/BirnadinErick/spc-175#Apache-2.0-1-ov-file">
                    Apache 2.0 License
                </a>
            </div>
        </div>
    </div>
</footer>